services:
  app:
    build:
      context: .
      target: prod
    image: meeja-backend-app:latest
    container_name: nest_app
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: meeja
      POSTGRES_PASSWORD: meeja
      POSTGRES_DB: meejadb
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    restart: unless-stopped

volumes:
  postgres_data:
